*.o
*~
.deps
.dirstamp

.version_number
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/check_snmp_cpu
src/check_snmp_load_avg
src/check_snmp_disk
src/check_snmp_memory
src/check_snmp_procs
stamp-h1
config.status.lineno
configure.lineno
session.
src/.metadata/
src/test/check_snmp_cpu
tap/libtap.la
tap/tap.lo
.libs/
config.guess
config.sub
libtool
m4/*.m4
ltmain.sh
